.cardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 2rem;
}
.Card {
  height: 70vh;
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.CardImage {
  height: 200px !important;
  object-fit: contain !important;
  transition: transform 0.2s;
  cursor: pointer;
}
.CardImage:hover {
  transform: scale(1.1);
}
.Header {
  height: 15vh !important;
}
.button1 {
  min-width: 22vw !important;
}

.HeaderContent {
  color: grey;
}
.CardContentData {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 2rem;
}
.uigridcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw !important;
}
.LinkCart {
  text-decoration: none;
  color: white;
}
.LinkCart:hover {
  text-decoration: none;
  color: white;
}
.input-wrapper {
  width: 100%;
  height: 2.5rem;
  border: none;
  border-radius: 10px;
  padding: 0 15px;
  box-shadow: 0px 0px 8px #ddd;
  background-color: white;
  display: flex;
  align-items: center;
}

input {
  background-color: transparent;
  border: none;
  height: 100%;
  font-size: 1.25rem;
  width: 100%;
  margin-left: 5px;
}

input:focus {
  outline: none;
}

#search-icon {
  color: royalblue;
}
.search-result {
  padding: 10px 20px;
}

.search-result:hover {
  background-color: #efefef;
}
.results-list {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 8px #ddd;
  border-radius: 10px;
  margin-top: 1rem;
  max-height: 300px;
  overflow-y: auto;
}
